
body {
font-family: sans-serif;
background-color: rgb(255, 255, 255);
margin-left: 246px;

overflow-x: hidden;
overflow-y: scroll;
}

.sidebar {
width: 200px;
height: 100%;
position: fixed;

z-index: 1;
top: 0;
left: 0;
overflow-x: hidden;

background-color: rgb(255, 255, 255);

border-style: solid;
border-width: 5;
border-color: rgb(0, 0, 0);

padding-left: 10px;
}

.main {
margin-left: 0px;
width: 100%;

overflow-wrap: normal;
overflow-y: scroll;
}

